{% extends 'base.html' %}
 
{% block content %}
<ul class="list-articles">
	{% for p in naryad %}
			<li><div class="article-panel">
				<h2>{{p.auto.marka}}</h2>
				<p class="first">ТС: {{p.auto.gos_num}}</p>
				<p class="first">Клиент: {{p.client.name}}</p>
				<p class="first">Ремонт: {{p.remont}}</p>
				<p class="first">Стоимость ремонта: {{p.price}}</p>
				</div>
				
				<div class="clear"></div>
				<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Просмотр</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}